html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.page-container {
  
}

table {
  border-collapse: collapse;
  max-width: 1200px;
}

table tr td,
table thead th,
table tfoot td {
  border: 1px solid #bbb;
  padding: 10px;
}


table.cart-items {
  width: 100%;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

td.cart-action span {
  cursor: pointer;
  padding: 0 10px;
}


section {
  padding: 30px 0;
  border-top: 1px solid #f0f0f0;
}

input,
select {
  padding: 5px 10px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

.field {
  margin-bottom: 20px;
}

form
{
    width: 100%;
}

.center {
    width: 200px;
    
}


table th{
    width: 180px;
}

.inputgroup{

    display: flex;
    min-width: 200px;
    
}

.btn-form {
    margin: 10px;
}