@{
    ViewData["Title"] = "Success";
}

<div class="page-container checkout">
  <h3>Grazie!</h3>
  <section class="text">
    <p>
      Il tuo ordine si è concluso con successo!
    </p>
  </section>
</div>